div#loader {
    display: block;
    margin-left: auto; 
    margin-right: auto;
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    cursor: wait;
    animation: spin 2s linear infinite;
    display: none;
  }
  
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

div#fader {
    opacity: 0.5;
    background: black;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: none;
}

div#generate {
  display: none;
}

div#downloadMsg {
  display:none;
}

a#downloadLink {
  display: none;
}

label#lsb {
  /* background-color: #4CAF50; Green */
  background-color: #d64161;
  border-radius: 12px;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

label#lsb:hover {
  outline: 2px solid gray;
  font-weight: bold;
  color: white;
}

div.form{
  display: block;
  text-align: center;
}

form
{
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}


/* div#loading {
    top: 200 px;
    margin: auto;
    position: absolute;
    z-index: 1000;
    width: 160px;
    height: 24px;
    background: url(loadingimage.gif) no-repeat;
    cursor: wait;
    } */